@font-face {
  font-family: "Raleway";
  font-weight: 800;
  font-style: normal;
  src: url("../fonts/raleway-ExtraBold.woff2") format("woff2"), url("../fonts/raleway-ExtraBold.woff") format("woff"), url("../fonts/raleway-ExtraBold.ttf") format("ttf");
}
@font-face {
  font-family: "Rubik";
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/rubik-regular.woff2") format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "Rubik";
  font-weight: 700;
  font-style: normal;
  src: url("../fonts/rubik-bold.woff2") format("woff2");
  font-display: swap;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: 400;
  margin: 0;
  padding: 0;
  padding-top: 40px;
  color: #000;
}

.container {
  max-width: 1160px;
  margin: 0 auto;
}

.section-title {
  margin: 0;
  padding: 0;
  font-family: "Raleway", sans-serif;
  font-size: 50px;
  line-height: 50px;
  font-weight: 800;
  color: #000;
}

.section-description {
  margin: 0;
  padding: 0;
  font-family: "Rubik", sans-serif;
  font-size: 18px;
  line-height: 30px;
  font-weight: 400;
  color: #444;
}

.main-link {
  font-family: "Raleway";
  text-align: center;
  font-size: 18px;
  font-weight: 800;
  letter-spacing: 0.2em;
  color: #000;
  text-decoration: none;
  text-transform: uppercase;
  position: relative;
  padding: 10px 15px;
  transition: 0.2s;
  z-index: 1;
}
.main-link::before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  height: 8px;
  width: 100%;
  background-color: #ffe17f;
  z-index: -1;
}
.main-link:hover {
  background-color: #ffe17f;
}
.main-link:focus {
  outline: 2px solid #af4fff;
}
.main-link:active {
  background-color: #FFCC33;
  outline: none;
}

.page-header-container {
  position: relative;
  padding: 45px 60px 0 60px;
  background-color: #ffe17f;
}
.page-header-container-catalog {
  padding-bottom: 20px;
  margin-bottom: 35px;
}

.header-logo {
  position: absolute;
  left: 60px;
  top: -20px;
}

.navigation {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 30px;
}
.navigation-search {
  display: flex;
  position: relative;
  margin-right: 27px;
  padding: 2px;
}
.navigation-search-input {
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: 400;
  padding: 10px 120px 10px 48px;
  font-size: 16px;
  line-height: 20px;
  outline: none;
  border: 2px solid #000;
  border-radius: 50px 0px 0px 50px;
  background-image: url("../images/search.svg");
  background-repeat: no-repeat;
  background-size: 16px 16px;
  background-position: center left 16px;
  background-color: transparent;
}
.navigation-search-input:disabled {
  opacity: 0.3;
}
.navigation-search-button {
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: 400;
  padding: 10px 56px;
  font-size: 16px;
  line-height: 20px;
  border: 2px solid #000;
  border-left: none;
  border-radius: 0 50px 50px 0;
  background-color: transparent;
  cursor: pointer;
}
.navigation-search-button:hover {
  background-color: #000;
  color: #fff;
}
.navigation-search-button:focus {
  outline: 2px solid #af4fff;
}
.navigation-search-button:active {
  background-color: #000;
  color: rgba(255, 255, 255, 0.3);
  outline: none;
}
.navigation-link {
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: 400;
  position: relative;
  font-size: 18px;
  color: #000;
  text-decoration: none;
  transition: 0.2s;
}
.navigation-link:hover {
  opacity: 0.6;
}
.navigation-link:focus {
  outline: 2px solid #af4fff;
}
.navigation-link:active {
  opacity: 0.3;
  outline: none;
}
.navigation-link-login {
  padding-left: 27px;
  background-image: url("../images/login.svg");
  background-repeat: no-repeat;
  background-size: 14px 14px;
  background-position: center left;
  margin-right: auto;
}
.navigation-link-logout {
  margin-right: auto;
  opacity: 0.3;
}
.navigation-link-compare {
  padding-left: 22px;
  background-image: url("../images/comparison.svg");
  background-size: 10px 12px;
  background-repeat: no-repeat;
  background-position: center left;
  margin-right: 18px;
}
.navigation-link-cart {
  padding-left: 43px;
  background-image: url("../images/cart.svg");
  background-repeat: no-repeat;
  background-size: 16px 14px;
  background-position: center left 15px;
}
.navigation-link-cart::before {
  position: absolute;
  content: "2";
  width: 21px;
  height: 21px;
  background-color: #fff;
  border: none;
  font-family: "Rubik";
  font-size: 14px;
  line-height: 21px;
  font-style: normal;
  font-weight: 400;
  color: #000;
  border-radius: 50%;
  text-align: center;
  left: 0;
}

.catalog-navigation {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.catalog-navigation .drop-menu {
  z-index: 1;
}
.catalog-navigation .drop-menu-visible {
  display: flex;
  align-items: center;
}
.catalog-navigation .drop-menu-header {
  display: inline-block;
  margin: 0;
  margin-right: 10px;
  font-family: "Raleway";
  font-size: 18px;
  font-weight: 800;
  letter-spacing: 0.2em;
  color: #000;
  text-decoration: none;
  text-transform: uppercase;
}
.catalog-navigation .drop-menu-button {
  margin-left: 7px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 2px solid #000;
  opacity: 0.3;
  background-image: url("../images/cross.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
  transition: 0.2s;
  cursor: pointer;
}
.catalog-navigation .drop-menu-button:focus {
  outline: 2px solid #af4fff;
  opacity: 1;
}
.catalog-navigation .drop-menu:hover .menu {
  display: block;
}
.catalog-navigation .drop-menu:hover .drop-menu-button {
  opacity: 1;
  background-image: url("../images/minus.svg");
}
.catalog-navigation .menu {
  position: absolute;
  width: 100%;
  left: 0;
  padding: 20px 60px 5%;
  background-color: #ffe17f;
  z-index: 1;
  display: none;
}
.catalog-navigation .menu-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: grid;
  grid-template-columns: 220px 220px 220px;
  gap: 30px 40px;
}
.catalog-navigation .menu-link {
  font-family: "Rubik", sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #000;
  text-decoration: none;
  text-transform: none;
  letter-spacing: normal;
}
.catalog-navigation .menu-link:hover {
  opacity: 0.6;
}
.catalog-navigation .menu-link:active {
  opacity: 0.3;
}
.catalog-navigation-list {
  padding: 0;
  margin: 0;
  margin-left: auto;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
}
.catalog-navigation-list-item:not(:last-child) {
  margin-right: 46px;
}
.catalog-navigation-list-link {
  transition: 0.2s;
}
.catalog-navigation-list-link:hover {
  opacity: 0.6;
}
.catalog-navigation-list-link:focus {
  outline: 2px solid #af4fff;
}
.catalog-navigation-list-link:active {
  opacity: 0.3;
  outline: none;
}

.slider-section {
  position: relative;
  top: -150px;
  margin-bottom: 110px;
}

.slider-number-container {
  padding-top: 10px;
  background-color: #ffe17f;
  display: flex;
  justify-content: flex-end;
}
.slider-number-container .slider-number {
  margin: 0;
  margin-bottom: -18px;
  padding: 0;
  font-family: "Rubik";
  font-size: 180px;
  line-height: 135px;
  font-weight: 700;
  color: #fff;
}

.slider-container {
  display: flex;
  align-items: flex-start;
}

.slider {
  position: relative;
  margin-right: 40px;
}
.slider-buttons-container {
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: space-between;
  top: 37%;
}
.slider-button {
  width: 20px;
  height: 60px;
  border: none;
  background-color: transparent;
  background-image: url("../images/slider-button.svg");
  background-repeat: no-repeat;
  background-position: center;
  transition: 0.2s;
  cursor: pointer;
}
.slider-button-next {
  transform: rotate(180deg);
}
.slider-button:hover {
  opacity: 0.6;
}
.slider-button:focus {
  outline: 2px solid #af4fff;
}
.slider-button:active {
  opacity: 0.3;
  outline: none;
}

.slider-content {
  position: relative;
  top: 122px;
}
.slider-content .section-title {
  margin-bottom: 30px;
}
.slider-content .section-description {
  margin-bottom: 60px;
}

.slider-pagination-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 30px;
  margin-bottom: 60px;
}
.slider-pagination-wrapper .main-link {
  padding-right: 37px;
  padding-left: 37px;
}

.slider-pagination {
  padding: 0;
  margin: 0;
  list-style-type: none;
  display: flex;
}
.slider-pagination-item {
  position: relative;
}
.slider-pagination-item:not(:last-child) {
  margin-right: 20px;
}
.slider-pagination-button {
  padding: 0;
  width: 12px;
  height: 12px;
  border: 2px solid #000;
  border-radius: 100%;
  background-color: transparent;
  cursor: pointer;
}
.slider-pagination-button-current {
  background-color: #000;
}
.slider-pagination-button:hover {
  opacity: 0.6;
}
.slider-pagination-button:focus {
  outline: 2px solid #af4fff;
}
.slider-pagination-button:active {
  opacity: 0.3;
  outline: none;
}

.product-specifications {
  display: flex;
  flex-wrap: wrap;
}
.product-specifications-block {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
}
.product-specifications-block:not(:last-child) {
  margin-right: 20px;
}
.product-specifications-value {
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  color: #000;
  margin-bottom: 12px;
}
.product-specifications-name {
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: #444;
}

.assortment {
  margin-top: -150px;
  margin-bottom: 168px;
}

.assortment-list {
  padding: 0;
  margin: 0;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
}
.assortment-list-item:not(:last-child) {
  margin-right: 40px;
}
.assortment-list-item {
  position: relative;
  width: min-content;
  margin-bottom: 20px;
}
.assortment-list-item-link {
  color: #000;
  text-decoration: none;
  transition: 0.2s;
}
.assortment-list-item-link:hover .assortment-list-item-icon {
  background-color: #ffc700;
}
.assortment-list-item-link:focus {
  outline: none;
}
.assortment-list-item-link:focus + .purple-outline {
  outline: 2px solid #af4fff;
}
.assortment-list-item-link:active {
  opacity: 0.3;
}
.assortment-list-item-link:active + .purple-outline {
  outline: none;
}
.assortment-list-item-title {
  font-family: "Raleway";
  font-size: 18px;
  font-weight: 800;
  padding: 0;
  margin: 0;
  letter-spacing: -0.02em;
  text-align: center;
}
.assortment-list-item-icon {
  width: 160px;
  height: 160px;
  background-color: #ffe17f;
  margin-bottom: 33px;
}
.assortment-list-item-icon-vr {
  background-image: url("../images/assortment/vr.svg");
  background-repeat: no-repeat;
  background-position: center;
}
.assortment-list-item-icon-monopod {
  background-image: url("../images/assortment/monopod.svg");
  background-repeat: no-repeat;
  background-position: center bottom;
}
.assortment-list-item-icon-action-camera {
  background-image: url("../images/assortment/action-camera.svg");
  background-repeat: no-repeat;
  background-position: center;
}
.assortment-list-item-icon-fitness-bracelet {
  background-image: url("../images/assortment/fitness-bracelet.svg");
  background-repeat: no-repeat;
  background-position: center;
}
.assortment-list-item-icon-smart-watch {
  background-image: url("../images/assortment/smart-watch.svg");
  background-repeat: no-repeat;
  background-position: center;
}
.assortment-list-item-icon-quadrocopter {
  background-image: url("../images/assortment/quadrocopter.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.services {
  position: relative;
  margin-bottom: 35px;
}
.services::after {
  content: "";
  position: absolute;
  background-color: #f0f0f0;
  width: 100%;
  height: 89%;
  top: 0;
  z-index: -2;
}
.services-content {
  display: grid;
  grid-template-columns: 280px auto;
  column-gap: 116px;
}
.services-buttons-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  top: -102px;
  width: 280px;
  padding: 65px 0;
  margin-right: 116px;
}
.services-buttons-container::after {
  content: "";
  position: absolute;
  width: 7px;
  height: 100%;
  right: 0;
  bottom: 0;
  background-color: #000;
}
.services-button {
  margin-bottom: 0;
  display: block;
  background: none;
  border: none;
  cursor: pointer;
}
.services-button-current {
  color: #ffe17f;
  background-color: #000;
  width: 100%;
  padding-right: 50%;
}
.services-button-current::before {
  content: none;
}
.services-button-current:hover {
  color: rgba(255, 225, 127, 0.5);
  background-color: #000;
}
.services-button-current:active {
  color: rgba(255, 225, 127, 0.3);
  background-color: #000;
  outline: none;
}
.services-button:not(:last-of-type) {
  margin-bottom: 35px;
}
.services-right-column {
  display: flex;
  position: relative;
  top: -30px;
}
.services-right-column::after {
  content: url("../images/courier.svg");
  width: 136px;
  height: 164px;
}
.services-right-column-text {
  margin-right: 106px;
}
.services-right-column .section-title {
  margin-bottom: 34px;
}

.delivery-button {
  position: relative;
  width: 100%;
  text-align: center;
  font-family: "Raleway";
  font-size: 20px;
  font-weight: 800;
  letter-spacing: 0.2em;
  color: #000;
  text-transform: uppercase;
  padding: 40px 0;
  border: none;
  background-color: #f0f0f0;
  margin-bottom: 70px;
  cursor: pointer;
}
.delivery-button::before {
  position: absolute;
  left: 0;
  top: 0;
  content: "";
  width: 125px;
  height: 100%;
  background-color: #ffe17f;
  background-image: url("../images/delivery-car.svg");
  background-repeat: no-repeat;
  background-size: 47px 31px;
  background-position: center;
}
.delivery-button::after {
  position: absolute;
  content: "";
  background-color: rgb(220, 220, 220);
  border-radius: 50%;
  width: 40px;
  height: 40px;
  background-image: url("../images/info.svg");
  background-repeat: no-repeat;
  background-size: 2px 12px;
  background-position: center;
  opacity: 0.3;
  right: 42px;
  top: 30px;
}
.delivery-button:hover::before {
  background-color: #ffc700;
}
.delivery-button:hover::after {
  opacity: 1;
}
.delivery-button:focus {
  outline: 2px solid #af4fff;
}
.delivery-button:active {
  opacity: 0.3;
  outline: none;
}

.about-us {
  display: grid;
  grid-template-columns: auto auto;
  column-gap: 130px;
  margin-bottom: 70px;
}
.about-us-column {
  width: auto;
  padding-top: 47px;
  position: relative;
  color: #444;
}
.about-us-column .section-title {
  margin-bottom: 48px;
}
.about-us-column .section-description {
  margin-bottom: 30px;
}
.about-us-column::before {
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  width: 84px;
  height: 7px;
  background-color: #000;
}
.about-us-subtitle {
  margin: 0;
  margin-bottom: 15px;
  padding: 0;
  font-size: 24px;
  font-weight: 700;
}
.about-us-address {
  font-style: normal;
  line-height: 30px;
  margin-bottom: 30px;
}
.about-us-address-text {
  margin: 0;
  font-size: 18px;
}
.about-us-address-phone {
  display: inline-block;
  font-family: inherit;
  color: inherit;
  font-size: 18px;
  transition: 0.2s;
}
.about-us-address-phone:hover {
  transform: scale(1.1);
}
.about-us-schedule {
  margin: 0;
  padding: 0;
  list-style-type: none;
  margin-bottom: 40px;
}
.about-us-schedule-item {
  font-size: 18px;
  line-height: 30px;
}

.transport-companies-list {
  margin: 0;
  margin-bottom: 40px;
  padding: 0;
  list-style-type: none;
}
.transport-companies-list-item {
  font-family: "Rubik", sans-serif;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: -0.02em;
  padding-left: 34px;
  position: relative;
  color: #000;
}
.transport-companies-list-item:not(:last-child) {
  margin-bottom: 20px;
}
.transport-companies-list-item::before {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  content: "";
  width: 8px;
  height: 8px;
  background-color: #ffc700;
  border-radius: 50%;
}

.newsletter {
  padding-top: 64px;
  padding-bottom: 56px;
  background-color: #f0f0f0;
}
.newsletter-header {
  display: flex;
  align-items: flex-end;
  margin-bottom: 144px;
}
.newsletter .section-title {
  display: inline-block;
  margin-right: 290px;
}
.newsletter .section-description {
  display: inline-block;
}
.newsletter-form-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.newsletter-form {
  max-width: 810px;
  width: 100%;
  display: flex;
}
.newsletter-form-input {
  width: 100%;
  margin: 0;
  padding: 15px;
  border: none;
  border-bottom: 3px solid #c4c4c4;
  background-color: transparent;
  font-family: inherit;
  font-size: 18px;
  color: #444;
  outline: none;
}
.newsletter-form-input:focus {
  background-color: #dcdcdc;
}
.newsletter-form-input:invalid {
  border-bottom: 3px solid #ff3d3d;
}
.newsletter-form-input:disabled {
  opacity: 0.3;
}
.newsletter-form-button {
  padding: 0 35px;
  align-self: stretch;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 800;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  border: 3px solid #c4c4c4;
  cursor: pointer;
  transition: 0.2s;
}
.newsletter-form-button:hover {
  color: #fff;
  background-color: #000;
  border-color: #000;
}
.newsletter-form-button:focus {
  outline: 2px solid #af4fff;
}
.newsletter-form-button:active {
  color: rgba(255, 255, 255, 0.3);
  outline: none;
}
.newsletter-span {
  font-size: 18px;
  color: #444;
  padding-left: 32px;
  margin-left: auto;
  background-image: url("../images/green-mark.svg");
  background-repeat: no-repeat;
  background-size: 14px 14px;
  background-position: center left;
}

.footer {
  padding: 62px 0;
  background-color: #444;
  color: #fff;
}
.footer-content {
  display: flex;
  align-items: flex-start;
  position: relative;
}
.footer-content-right-column {
  margin-left: auto;
}
.footer-content::after {
  position: absolute;
  content: "";
  background-color: #ffc700;
  width: 80px;
  height: 7px;
  left: 0;
  bottom: 20px;
}
.footer-logo {
  display: inline-block;
  margin-bottom: 35px;
}
.footer-logo:hover {
  opacity: 0.6;
}
.footer-logo:focus {
  outline: 2px solid #af4fff;
}
.footer-logo:active {
  opacity: 0.3;
  outline: none;
}
.footer-address {
  margin: 0;
  line-height: 20px;
  width: 240px;
  margin-right: 120px;
}
.footer-menu {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 62px;
}
.footer-menu-item:not(:last-child) {
  margin-right: 35px;
}
.footer-menu-link {
  color: inherit;
  text-decoration: none;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 800;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  transition: 0.2s;
}
.footer-menu-link:hover {
  color: #ffc700;
  border-bottom: 2px solid #ffc700;
}
.footer-menu-link:focus {
  outline: 2px solid #af4fff;
}
.footer-menu-link:active {
  opacity: 0.3;
  outline: none;
}
.footer-social-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  justify-content: center;
}
.footer-social-list-item:not(:last-child) {
  margin-right: 15px;
}
.footer-social-list-link {
  position: relative;
  display: block;
  width: 40px;
  height: 40px;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 50%;
  transition: 0.2s;
}
.footer-social-list-link::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center;
}
.footer-social-list-link-telegram::after {
  background-image: url("../images/telegram-icon.svg");
  background-size: 14px 12px;
}
.footer-social-list-link-youtube::after {
  background-image: url("../images/youtube-icon.svg");
  background-size: 16px 11px;
}
.footer-social-list-link-twitter::after {
  background-image: url("../images/twitter-icon.svg");
  background-size: 15px 14px;
}
.footer-social-list-link:hover {
  background-color: #ffc700;
}
.footer-social-list-link:focus {
  outline: 2px solid #af4fff;
}
.footer-social-list-link:active::after {
  opacity: 0.3;
}
.footer-social-list-link:active {
  outline: none;
}
.footer-phone {
  display: block;
  color: #fff;
  margin-bottom: 63px;
  transition: 0.2s;
}
.footer-phone:hover {
  color: #ffc700;
}
.footer-phone:focus {
  outline: 2px solid #af4fff;
}
.footer-phone:active {
  opacity: 0.3;
  outline: none;
}
.footer .my-logo {
  font-family: "Raleway", sans-serif;
  font-size: 20px;
  font-weight: 800;
  color: #ffc700;
  cursor: pointer;
  text-decoration: none;
  transition: 0.2s;
}
.footer .my-logo:hover {
  color: violet;
}
.footer .my-logo:active {
  color: violet;
  opacity: 0.6;
}

.inner-header {
  padding-left: 60px;
  margin-bottom: 35px;
}
.inner-header .section-title {
  margin-bottom: 16px;
}

.breadcrumbs {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
}
.breadcrumbs-item:not(:last-child) {
  margin-right: 16px;
}
.breadcrumbs-item:not(:first-child) {
  padding-left: 20px;
  position: relative;
}
.breadcrumbs-item:not(:first-child)::before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  display: inline-block;
  width: 4px;
  height: 7px;
  background-image: url("../images/breadcrumbs-arrow.svg");
  opacity: 0.2;
}
.breadcrumbs-link {
  color: #000;
  text-decoration: none;
}
.breadcrumbs-link:hover {
  opacity: 0.6;
}
.breadcrumbs-link:focus {
  outline: 2px solid #af4fff;
}
.breadcrumbs-link:active {
  opacity: 0.3;
  outline: none;
}

.catalog-products {
  background-color: #f0f0f0;
}
.catalog-products-container {
  display: flex;
}

.filters {
  display: flex;
  flex-direction: column;
  padding: 25px 60px;
}
.filters-title {
  margin: 0;
  margin-bottom: 72px;
}

.filter-form-fieldset {
  position: relative;
  border: none;
  padding: 0;
  margin: 0;
  margin-bottom: 47px;
}
.filter-form-fieldset::before {
  content: "";
  position: absolute;
  top: -57px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #000;
}
.filter-form-fieldset-legend {
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  padding: 0;
  margin: 0;
  margin-bottom: 20px;
}

.price-range {
  width: 200px;
  height: 2px;
  background-color: #dcdcdc;
  position: relative;
  margin-top: 10px;
  margin-bottom: 15px;
}
.price-range-scale {
  width: 119px;
  height: 2px;
  background-color: #000;
  position: absolute;
  left: 0;
}
.price-range-scale-button {
  position: absolute;
  width: 18px;
  height: 18px;
  background-color: #ebebeb;
  border: 2px solid #000;
  border-radius: 50%;
  cursor: pointer;
}
.price-range-scale-button:hover {
  border-color: rgba(0, 0, 0, 0.5);
}
.price-range-scale-button:focus {
  outline: 2px solid #af4fff;
}
.price-range-scale-button:active {
  background-color: #000;
  outline: none;
}
.price-range-scale-button-min {
  left: 0;
  bottom: -8px;
}
.price-range-scale-button-max {
  right: 0;
  bottom: -8px;
}

.price-filter-input {
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  border: none;
  background-color: transparent;
  width: 50px;
  outline: none;
  margin: 0;
  padding: 0;
}
.price-filter-input::placeholder {
  color: #000;
  opacity: 0.3;
}
.price-filter-input:focus {
  outline: 2px solid #af4fff;
}
.price-filter-input:first-of-type {
  margin-right: 35px;
}

.filter-form-list {
  padding: 0;
  margin: 0;
  list-style-type: none;
}
.filter-form-list-item:not(:last-child) {
  margin-bottom: 18px;
}

.control {
  padding-left: 36px;
  position: relative;
  cursor: pointer;
}
.control:hover {
  opacity: 0.6;
}
.control:active {
  opacity: 0.3;
}
.control-input:focus + .control-mark {
  outline: 2px solid #af4fff;
}
.control-input:disabled + .control-mark {
  opacity: 0.1;
}
.control-input:disabled ~ .control-label {
  opacity: 0.1;
}
.control-mark {
  position: absolute;
  left: 0;
  top: -1px;
  width: 20px;
  height: 20px;
  border: 2px solid #ccc;
}
.control-input:checked + .control-mark {
  border-color: #000;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 10px 10px;
}
.control-input:checked[type=checkbox] + .control-mark {
  background-image: url("../images/tick.svg");
}
.control-input[type=checkbox] + .control-mark {
  border-radius: 3px;
}
.control-input[type=radio] + .control-mark {
  border-radius: 50%;
}
.control-input:checked[type=radio] + .control-mark {
  background-image: url("../images/round.svg");
}

.filter-form .main-link {
  z-index: 1;
  display: block;
}

.product-cards-container {
  display: flex;
  flex-direction: column;
}

.catalog-products-label {
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  font-weight: 800;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

.sorting {
  background-color: #f0f0f0;
  padding: 15px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.sorting-select {
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: 400;
  border: none;
  outline: none;
  background-color: transparent;
  cursor: pointer;
  font-size: 18px;
  appearance: none;
  padding: 10px 34px 10px 2px;
  background-image: url("../images/select-arrow.svg");
  background-repeat: no-repeat;
  background-size: 9px 6px;
  background-position: center right 13px;
}
.sorting-select:hover {
  opacity: 0.6;
}
.sorting-select:focus {
  outline: 2px solid #af4fff;
}
.sorting-select:active {
  opacity: 0.3;
  outline: none;
}
.sorting-buttons-container {
  display: flex;
  align-items: center;
}
.sorting-button {
  position: relative;
  border: none;
  background-color: transparent;
  width: 30px;
  height: 30px;
  cursor: pointer;
}
.sorting-button::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-image: url("../images/sorting-button.svg");
  background-repeat: no-repeat;
  background-size: 11px 10px;
  background-position: center;
  opacity: 0.2;
}
.sorting-button:last-child {
  transform: rotate(180deg);
}
.sorting-button:hover::after {
  opacity: 0.5;
}
.sorting-button:focus {
  outline: 2px solid #af4fff;
}
.sorting-button:active::after {
  opacity: 1;
}
.sorting-button:active {
  outline: none;
}

.product-cards {
  background-color: #fff;
  padding: 70px 40px 80px;
  display: flex;
  flex-direction: column;
}

.product-list {
  padding: 0;
  margin: 0;
  margin-bottom: 44px;
  list-style-type: none;
  display: grid;
  grid-template-columns: 360px 360px;
  gap: 44px 40px;
}

.product-card {
  position: relative;
}
.product-card:hover .product-card-link {
  opacity: 0.5;
}
.product-card:hover .more-information {
  display: inline;
}
.product-card:active .product-card-link {
  opacity: 0.3;
}
.product-card:active .product-card-link::after {
  outline: none;
}
.product-card:active .more-information::before {
  background-color: #ffc700;
}
.product-card-link {
  color: #000;
  text-decoration: none;
  transition: 0.2s;
}
.product-card-link::after {
  outline: 2px solid #af4fff;
  position: absolute;
  content: "";
  background-color: transparent;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: none;
}
.product-card-link:focus {
  outline: none;
}
.product-card-link:focus::after {
  display: block;
}
.product-card-image {
  margin-bottom: 32px;
}
.product-card-text {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.product-card-title {
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: 700;
  display: inline-block;
  margin: 0;
  font-size: 18px;
  line-height: 20px;
  letter-spacing: -0.02em;
  margin-right: auto;
  max-width: 190px;
}
.product-card-price {
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  color: #444;
}

.more-information {
  font-family: "Raleway";
  text-align: center;
  font-size: 18px;
  font-weight: 800;
  letter-spacing: 0.2em;
  color: #000;
  text-decoration: none;
  text-transform: uppercase;
  position: relative;
  padding: 10px 15px;
  transition: 0.2s;
  z-index: 1;
  position: absolute;
  left: 25%;
  top: 40%;
  display: none;
  cursor: pointer;
}
.more-information::before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  height: 8px;
  width: 100%;
  background-color: #ffe17f;
  z-index: -1;
}

.button-show-more {
  background-color: transparent;
  padding: 18px 0;
  border: 3px solid #E5E5E5;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  cursor: pointer;
  margin-bottom: 44px;
}
.button-show-more:hover {
  border-color: #000;
}
.button-show-more:focus {
  outline: 2px solid #af4fff;
}
.button-show-more:active {
  opacity: 0.3;
  outline: none;
}

.pagination {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ebebeb;
}
.pagination-prev-next {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  color: #000;
  text-decoration: none;
  padding: 25px;
}
.pagination-prev-next:hover {
  background-color: #dcdcdc;
}
.pagination-prev-next:focus {
  outline: 2px solid #af4fff;
}
.pagination-prev-next:active {
  color: rgba(0, 0, 0, 0.3);
  outline: none;
}
.pagination-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
}
.pagination-link {
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: rgba(68, 68, 68, 0.3);
  text-decoration: none;
  padding: 10px 15px;
}
.pagination-link-current {
  color: rgba(68, 68, 68, 0.6);
}
.pagination-link:hover {
  color: rgb(68, 68, 68);
}
.pagination-link:focus {
  outline: 2px solid #af4fff;
}
.pagination-link:active {
  color: rgba(68, 68, 68, 0.1);
  outline: none;
}

/*# sourceMappingURL=styles.css.map */
